<a href="https://colab.research.google.com/github/anwishn/HoPy/blob/main/ch8_pandas%EA%B8%B0%EC%B4%88_ch9_pandas%EC%9D%91%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬으로 배우는 딥러닝 교과서 ch 8, 9

# ch8. Pandas 기초



---

## 8.1 Pandas 개요

**Pandas** : 일반적인 데이터베이스에서 이뤄지는 작업 수행. 수치뿐 아니라 문자열 데이터도 쉽게 처리 가능

* 데이터 구조 - Series와 DataFrame
 + 가로 방향 데이터 = 행 (라벨은 인덱스), 세로 방향 데이터 = 열 (라벨은 컬럼)

### 8.1.1 Series와 DataFrame의 데이터 확인

Series에 딕셔너리형 전달하면 키에 의해 오름차순 정렬

Series는 라벨이 붙은 1차원 데이터. DataFrame은 여러 Series 묶은 것과 같은 2차원 데이터 구조

In [ ]:
# Pandas를 pd로 import
import pandas as pd

# DataFrame 데이터
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
        "year":[2001,2002,2001,2008,2006],
        "time":[1,4,5,6,3]}
df=pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

## 8.2 Series

### 8.2.1 Series 생성

* **pd.Series(딕셔너리형의 리스트)**로 딕셔너리형의 리스트 전달해 Series 생성 가능
* **pd.Series(데이터 배열, index=인덱스 배열)**로 데이터 관련 인덱스 지정해 Series 생성 가능
 + 인덱스 지정하지 않으면 0부터 순서대로 정수 인덱스 붙어
* Series 출력하면 'dtype: int64'라고 출력
 + dtype : data type로, 데이터의 자료형 나타내(int, float, bool ..)

In [ ]:
# Pandas를 pd로 import
import pandas as pd

# Series 데이터
fruits={"orange":2, "banana":3}
print(pd.Series(fruits))

In [ ]:
# Pandas를 pd로 import
import pandas as pd

# Series 데이터
index=["apple","orange","banana","strawberry","kiwifruit"]
data=[10,5,8,12,3]
print(pd.Series(data, index=index))

### 8.2.2 참조

* 번호를 지정해 원하는 범위 추출 가능 (인덱스는 0부터 시작해 지정한 번호-1 인덱스까지 추출)
* 원하는 요소의 인덱스값을 하나의 리스트로 정리한 뒤 인덱스값 지정해 참조 가능

In [ ]:
import pandas as pd
fruits = {"banana":3, "orange":4, "grape":1, "peach":5}
series = pd.Series(fruits)
print(series[0:2])

banana    3
orange    4
dtype: int64

In [ ]:
print(series[["orange","peach"]])

orange    4
peach     5
dtype: int64

### 8.2.3 데이터와 인덱스 추출

* 데이터값 **series.values**로 참조, 인덱스 **series.index**로 참조

In [ ]:
import pandas as pd

index=["apple","orange","banana","strawberry","kiwifruit"]
data=[10,5,8,12,3]
series=pd.Series(data,index=index)

print(series.values)
print(series.index)

[10  5  8 12  3]
Index(['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], dtype='object')

### 8.2.4 요소 추가

* Series에 요소 추가하려면 해당 요소도 Series형이어야해
* 추가할 요소를 Series형으로 반환한 뒤 Series형의 **append()**로 전달해 추가

In [ ]:
fruits={"banana":3, "orange":2}
series = pd.Series(fruits)
series = series.append(pd.Series([3], index=["grape"]))

In [ ]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data=[10,5,8,12,3]
series=pd.Series(data,index=index)

series = series.append(pd.Series([12],index=["pineapple"]))
series = series.append(pd.Series({"pineapple":12}))     # 이 방법도 가능
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
pineapple     12
pineapple     12
dtype: int64

### 8.2.5 요소 삭제

* Series의 인덱스 참조 **'series.drop("인덱스")'**사용해 해당 인덱스 위치의 요소 삭제

In [ ]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data=[10,5,8,12,3]
series=pd.Series(data,index=index)

series = series.drop("strawberry")
print(series)

apple        10
orange        5
banana        8
kiwifruit     3
dtype: int64

### 8.2.6 필터링

* bool형의 시퀀스를 지정해 True인 것만 추출 가능
* Series(또는 DataFrame)에서 [] 사용하여 조건식 만들어서도 가능

In [ ]:
print(series[series>=5])

apple     10
orange     5
banana     8
dtype: int64

In [ ]:
# 조건 복수 개 지정하려면 뒤에 [] 덧붙여
print(series[series>=5][series<10])

### 8.2.7 정렬

* 인덱스 정렬은 **series.sort_index()**로, 데이터 정렬은 **series.sort_values()**로 정렬
 + 인수 지정하지 않으면 오름차순 정렬. 인수에 ascending=False 전달 시 내림차순 정렬

In [ ]:
# 인덱스를 알파벳순으로 정렬
print(series.sort_index())
# 데이터값을 오름차순으로 정렬
print(series.sort_values())

apple        10
banana        8
kiwifruit     3
orange        5
dtype: int64
kiwifruit     3
orange        5
banana        8
apple        10
dtype: int64

## 8.3 DataFrame

### 8.3.1 DataFrame 생성

* **pd.DataFrame()**에 Series 전달하여 생성 가능
 + 행에는 0부터 오름차순으로 번호 붙어있어
* DataFrame의 값으로 딕셔너리형(리스트 포함) 넣어도 돼
 + 해당 리스트형의 길이는 동일해야해

In [ ]:
data={"fruits":["apple","orange","banana","strawberry","kiwifruit"],
      "year":[2001,2002,2001,2008,2006],
      "time":[1,4,5,6,3]}
df=pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

### 8.3.2 인덱스와 컬럼 설정

* 행의 이름 = 인덱스 
 + **df.index**에 행 수와 같은 길이의 리스트 대입하여 설정
 + 인수 지정하지 않으면 0부터 오름차순으로 인덱스 할당
* 열의 이름 = 컬럼 
 + **df.columns**에 열 수와 같은 길이의 리스트 대입하여 설정
 + 원본 데이터 Series의 인덱스 및 딕셔너리형의 키가 돼

In [ ]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30,25,12,10,8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)
df = pd.DataFrame([series1, series2])

df.index = [1,2]
print(df)

   apple  orange  banana  strawberry  kiwifruit
1     10       5       8          12          3
2     30      25      12          10          8

### 8.3.3 행 추가

* **df.append("Series형 데이터", ignore_index=True)** 실행하면 전달된 Series형 데이터의 인덱스가 df의 컬럼에 대응해 새로운 행 추가된 DataFrame 생성돼
 + df의 컬럼과 추가할 Series형 데이터의 인덱스가 일치하지 않으면 df에 새로운 컬럼 추가. 값이 존재하지 않은 요소는 NaN으로 채워져

In [ ]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
        "time":[1,4,5,6,3]}
df = pd.DataFrame(data)
series = pd.Series(["mango",2008,7], index=["fruits","year","time"])

df = df.append(series, ignore_index=True)
print(df)

       fruits  time    year
0       apple     1     NaN
1      orange     4     NaN
2      banana     5     NaN
3  strawberry     6     NaN
4   kiwifruit     3     NaN
5       mango     7  2008.0

In [ ]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30,25,12,10,8]
data3 = [30,12,10,8,25,3]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

index.append("pineapple")
series3 = pd.Series(data3, index=index)
df = pd.DataFrame([series1, series2])

df = df.append(series3, ignore_index=True)

print(df)  # df와 추가할 Series의 인덱스가 일치하지 않을 때의 동작 확인

   apple  orange  banana  strawberry  kiwifruit  pineapple
0     10       5       8          12          3        NaN
1     30      25      12          10          8        NaN
2     30      12      10           8         25        3.0

### 8.3.4 열 추가

* **df["새로운 컬럼"]'**으로 Series 또는 리스트 대입해 새 열 추가
 + 리스트 대입하면 첫 행부터 순서대로 요소 할당
 + Series 대입하면 Series의 인덱스가 df의 인덱스에 대응

In [ ]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
        "year":[2001,2002,2001,2008,2006],
        "time":[1,4,5,6,3]}
df = pd.DataFrame(data)

df["price"]=[150,120,100,300,150]
print(df)

       fruits  year  time  price
0       apple  2001     1    150
1      orange  2002     4    120
2      banana  2001     5    100
3  strawberry  2008     6    300
4   kiwifruit  2006     3    150

### 8.3.5 데이터 참조

loc : 이름으로 참조, iloc : 번호로 참조

#### 이름으로 참조

이름(인덱스와 컬럼명)으로 참조 -> loc 사용
* **df.loc["인덱스 리스트", "컬럼 리스트"]**

In [ ]:
df = df.loc[[1,2], ["time","year"]]
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
   time  year
1     4  2002
2     5  2001

#### 번호로 참조

번호(인덱스와 컬럼 번호)로 참조 -> iloc 사용

* **df.iloc["행 번호 리스트", "열 번호 리스트"]**
 + 행 번호와 열 번호는 0부터 시작

In [ ]:
df = df.iloc[[1,3],[0,2]]
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
       fruits  time
1      orange     4
3  strawberry     6

### 8.3.6 행 또는 열 삭제

* **df.drop()**으로 인덱스 또는 컬럼 지정해 해당 행 또는 열 삭제한 DataFrame 생성 가능
 + 리스트로 전달해 한꺼번에 삭제 가능
 + 열 삭제하려면 두 번째 인수로 **axis=1** 전달해야해

In [ ]:
import pandas as pd
data={"fruits":["apple","orange","banana","strawberry","kiwifruit"],
      "time":[1,4,5,6,3],
      "year":[2001,2002,2001,2008,2006]}
df=pd.DataFrame(data)

df_1 = df.drop(range(0,2))
df_2 = df.drop("year",axis=1)

print(df_1)
print(df_2)

       fruits  time  year
2      banana     5  2001
3  strawberry     6  2008
4   kiwifruit     3  2006
       fruits  time
0       apple     1
1      orange     4
2      banana     5
3  strawberry     6
4   kiwifruit     3

### 8.3.7 정렬

* **df.sort_values(by="컬럼 또는 컬럼 리스트", ascending=True)** 지정하여 열의 값 오름차순으로 정렬한 DataFrame 생성
 + ascending=False로 지정하면 내림차순 정렬. 디폴트는 오름차순
 + 컬럼 리스트에서 순서가 빠른 열 우선적으로 정렬

In [ ]:
import pandas as pd
data={"fruits":["apple","orange","banana","strawberry","kiwifruit"],
      "time":[1,4,5,6,3],
      "year":[2001,2002,2001,2008,2006]}
df=pd.DataFrame(data)
print(df)

# 오름차순 정렬(인수에 컬럼 지정)
df = df.sort_values(by="year",ascending=True)     # by 생략 가능
print(df)

# 오름차순 정렬(인수에 컬럼 리스트 지정)
df = df.sort_values(by=["time","year"], ascending=True)
print(df)

       fruits  time  year
0       apple     1  2001
1      orange     4  2002
2      banana     5  2001
3  strawberry     6  2008
4   kiwifruit     3  2006
       fruits  time  year
0       apple     1  2001
2      banana     5  2001
1      orange     4  2002
4   kiwifruit     3  2006
3  strawberry     6  2008
       fruits  time  year
0       apple     1  2001
4   kiwifruit     3  2006
1      orange     4  2002
2      banana     5  2001
3  strawberry     6  2008

### 8.3.8 필터링

* bool형의 시퀀스 지정하여 True인 것만 추출 가능
* 조건식으로 bool형의 시퀀스 취득 가능

In [ ]:
data={"fruits":["apple","orange","banana","strawberry","kiwifruit"],
      "time":[1,4,5,6,3],
      "year":[2001,2002,2001,2008,2006]}
df=pd.DataFrame(data)

print(df.index%2==0)
print(df[df.index%2==0])

[ True False  True False  True]
      fruits  time  year
0      apple     1  2001
2     banana     5  2001
4  kiwifruit     3  2006



---

In [ ]:
# 연습문제
import pandas as pd
import numpy as np

index=["growth","mission","ishikawa","pro"]
data = [50,7,26,1]

series = pd.Series(data, index=index)

aidemy = series.sort_index()

aidemy1 = pd.Series([30],index=["tutor"])
aidemy2 = series.append(aidemy1)

print(aidemy1)
print(aidemy2)

df = pd.DataFrame()
for index in index:
  df[index]=np.random.choice(range(1,11),10)
df.index = range(1,11)

aidemy3 = df.loc[range(2,6), ["ishikawa"]]
print(aidemy3)

tutor    30
dtype: int64
growth      50
mission      7
ishikawa    26
pro          1
tutor       30
dtype: int64
   ishikawa
2        10
3         3
4         3
5         5

# ch9. Pandas 응용



---

## 9.1 DataFrame 연결과 결합의 개요

DataFrame을 일정 방향으로 붙이는 작업 = 연결

특정 Key를 참조하여 연결하는 조작 = 결합

## 9.2 DataFrame 연결

###9.2.1 인덱스나 컬럼이 일치하는 DataFrame 간의 연결

* **pandas.concat("DataFrame 리스트", axis=0)**로 세로 연결/ axis=1로 가로연결
* 세로방향으로 연결할 때는 동일한 컬럼으로 연결, 가로 방향으로 연결할 때는 동일한 인덱스로 연결 -> 컬럼에 중복된 값이 생길 수도

In [1]:
import numpy as np
import pandas as pd

# 지정한 인덱스와 컬럼을 가진 DataFrame을 난수로 생성하는 함수
def make_random_df(index, columns, seed):
  np.random.seed(seed)
  df = pd.DataFrame()
  for column in columns:
    df[column] = np.random.choice(range(1,101), len(index))
  df.index = index
  return df

# 인덱스와 컬럼 일치하는 DataFrame 만들기
columns = ["apple","orange","banana"]
df_data1 = make_random_df(range(1,5), columns, 0)
df_data2 = make_random_df(range(1,5), columns, 1)

# df_data1과 df_data2를 세로 연결
df1 = pd.concat([df_data1, df_data2],axis=0)

# df_data1과 df_data1=2를 가로 연결
df2 = pd.concat([df_data1, df_data2],axis=1)

print(df1)
print(df2)

   apple  orange  banana
1     45      68      37
2     48      10      88
3     65      84      71
4     68      22      89
1     38      76      17
2     13       6       2
3     73      80      77
4     10      65      72
   apple  orange  banana  apple  orange  banana
1     45      68      37     38      76      17
2     48      10      88     13       6       2
3     65      84      71     73      80      77
4     68      22      89     10      65      72

### 9.2.2 인덱스나 컬럼이 일치하지 않는 DataFrame 간의 연결

공통의 인덱스나 컬럼이 아닌 행과 열에는 NaN 셀 생성

In [2]:
import numpy as np
import pandas as pd

# 지정한 인덱스와 컬럼을 가진 DataFrame을 난수로 생성하는 함수
def make_random_df(index, columns, seed):
  np.random.seed(seed)
  df = pd.DataFrame()
  for column in columns:
    df[column] = np.random.choice(range(1,101), len(index))
  df.index = index
  return df

columns1 = ["apple","orange","banana"]
columns2 = ["orange","kiwifruit","banana"]

# 인덱스가 1,2,3,4고, 컬럼이 columns1인 DataFrame 만들기
df_data1 = make_random_df(range(1,5),columns1,0)
# 인덱스가 1,3,5,7이고, 컬럼이 columns2인 DataFrame 만들기
df_data2 = make_random_df(np.arange(1,8,2),columns2,1)

# df_data1과 df_data2를 세로로 연결
df1 = pd.concat([df_data1, df_data2],axis=0)
# df_data1과 df_data2를 가로로 연결
df2 = pd.concat([df_data1, df_data2],axis=1)

print(df1)
print(df2)

   apple  orange  banana  kiwifruit
1   45.0      68      37        NaN
2   48.0      10      88        NaN
3   65.0      84      71        NaN
4   68.0      22      89        NaN
1    NaN      38      17       76.0
3    NaN      13       2        6.0
5    NaN      73      77       80.0
7    NaN      10      72       65.0
   apple  orange  banana  orange  kiwifruit  banana
1   45.0    68.0    37.0    38.0       76.0    17.0
2   48.0    10.0    88.0     NaN        NaN     NaN
3   65.0    84.0    71.0    13.0        6.0     2.0
4   68.0    22.0    89.0     NaN        NaN     NaN
5    NaN     NaN     NaN    73.0       80.0    77.0
7    NaN     NaN     NaN    10.0       65.0    72.0

### 9.2.3 연결 시 라벨 지정하기

DataFrame끼리 연결하면 라벨 중복되는 경우 -> pd.concat()에 **keys**추가

In [3]:
pd.concat([df_data1,df_data2],axis=1)

   apple  orange  banana  orange  kiwifruit  banana
1   45.0    68.0    37.0    38.0       76.0    17.0
2   48.0    10.0    88.0     NaN        NaN     NaN
3   65.0    84.0    71.0    13.0        6.0     2.0
4   68.0    22.0    89.0     NaN        NaN     NaN
5    NaN     NaN     NaN    73.0       80.0    77.0
7    NaN     NaN     NaN    10.0       65.0    72.0

In [4]:
pd.concat([df_data1,df_data2],axis=1,keys=["X","Y"])

      X                    Y
  apple orange banana orange kiwifruit banana
1  45.0   68.0   37.0   38.0      76.0   17.0
2  48.0   10.0   88.0    NaN       NaN    NaN
3  65.0   84.0   71.0   13.0       6.0    2.0
4  68.0   22.0   89.0    NaN       NaN    NaN
5   NaN    NaN    NaN   73.0      80.0   77.0
7   NaN    NaN    NaN   10.0      65.0   72.0

## 9.3 DataFrame 결합

### 9.3.1 결합 유형

결합(병합) -> Key로 불리는 열 지정하고, 두 데이터베이스의 Key 값이 일치하는 행을 옆으로 연결

* 내부 결합 - Key열이 공통되지 않는 행은 삭제. 공통되는 것만 남는다
* 외부 결합 - Key열이 공통되지 않아도 행이 삭제되지 않고 남는다. 공통되지 않은 열에는 Nan 셀 생성

### 9.3.2 내부 결합의 기본

**pd.merge(df1,df2,on=Key가 될 컬럼,how="inner")**

* Key열의 값이 일치하지 않는 행은 삭제
* Key가 아니면서 이름이 같은 열은 접미사 붙어
   + 왼쪽 DataFrame의 컬럼에는 _x가, 오른쪽 DataFrame의 컬럼에는 _y가 접미사로.

In [5]:
data1 = {"fruits":["apple","orange","banana","strawberry","kiwifruit"],
         "year":[2001,2002,2001,2008,2006],
         "amount":[1,4,5,6,3]}
df1 = pd.DataFrame(data1)

data2 = {"fruits":["apple","orange","banana","strawberry","mango"],
         "year":[2001,2002,2001,2008,2007],
         "price":[150,120,100,250,3000]}
df2 = pd.DataFrame(data2)

print(df1)
print(df2)

df3 = pd.merge(df1,df2,on="fruits",how="inner")
print(df3)

       fruits  year  amount
0       apple  2001       1
1      orange  2002       4
2      banana  2001       5
3  strawberry  2008       6
4   kiwifruit  2006       3
       fruits  year  price
0       apple  2001    150
1      orange  2002    120
2      banana  2001    100
3  strawberry  2008    250
4       mango  2007   3000
       fruits  year_x  amount  year_y  price
0       apple    2001       1    2001    150
1      orange    2002       4    2002    120
2      banana    2001       5    2001    100
3  strawberry    2008       6    2008    250

### 9.3.3 외부 결합의 기본

**pd.merge(df1,df2,on=Key가 될 컬럼,how="outer")**

* Key열의 값이 일치하지 않는 행은 삭제되지 않고 남겨져 NaN으로 채워진 열 생성
* Key가 아니면서 이름이 같은 열은 접미사 붙어
   + 왼쪽 DataFrame의 컬럼에는 _x가, 오른쪽 DataFrame의 컬럼에는 _y가 접미사로.

In [6]:
df3 = pd.merge(df1,df2,on="fruits",how="outer")
print(df3)

       fruits  year_x  amount  year_y   price
0       apple  2001.0     1.0  2001.0   150.0
1      orange  2002.0     4.0  2002.0   120.0
2      banana  2001.0     5.0  2001.0   100.0
3  strawberry  2008.0     6.0  2008.0   250.0
4   kiwifruit  2006.0     3.0     NaN     NaN
5       mango     NaN     NaN  2007.0  3000.0

### 9.3.4 이름이 다른 열을 Key로 결합하기

customer_id, id처럼 대응하는 컬럼명이 일치하지 않는 경우 -> 각 컬럼 별도로 지정

**pd.merge(왼쪽 DF, 오른쪽 DF, left_on="왼쪽 DF의 컬럼", right_on="오른쪽 DF의 컬럼", how="결합 방식")**

In [11]:
import pandas as pd

order_df = pd.DataFrame([[1000,2546,103],
                         [1001,4352,102],
                         [1002,342,101]],
                        columns=["id","item_id","customer_id"])
customer_df = pd.DataFrame([[101,"광수"],
                           [102,"민호"],
                           [103,"소희"]],
                          columns=["id","name"])

order_df = pd.merge(order_df, customer_df, left_on="customer_id",right_on="id",how="inner")
print(order_df)

   id_x  item_id  customer_id  id_y name
0  1000     2546          103   103   소희
1  1001     4352          102   102   민호
2  1002      342          101   101   광수

### 9.3.5 인덱스를 Key로 결합하기

결합에 사용하는 Key가 인덱스인 경우 -> left_on, right_on 대신 **left_index=True, right_index=True**로 지정

In [12]:
order_df = pd.DataFrame([[1000,2546,103],
                         [1001,4352,102],
                         [1002,342,101]],
                        columns=["id","item_id","customer_id"])
customer_df = pd.DataFrame([["광수"],
                           ["민호"],
                           ["소희"]],
                          columns=["name"])
customer_df.index=[101,102,103]

order_df = pd.merge(order_df, customer_df, left_on="customer_id",right_index=True, how="inner")
print(order_df)

     id  item_id  customer_id name
0  1000     2546          103   소희
1  1001     4352          102   민호
2  1002      342          101   광수

## 9.4 DataFrame을 이용한 데이터 분석

### 9.4.1 특정 행 얻기

전부 출력하는 것은 어려워 -> **df.head()**는 첫 5행만 담긴 DataFrame 반환/**df.tail()**은 끝 5행만 담긴 DataFrame 반환

+) 인수로 정숫값 지정 가능

### 9.4.2 계산 처리하기

Pandas와 Numpy는 유연한 데이터 전달 가능

### 9.4.3 통계 정보 얻기

**df.describe()** : 컬럼당 데이터 수, 평균값, 표준편차, 최솟값, 사분위수(25%,50%,75%), 최댓값 정보 포함하는 DataFrame 반환

### 9.4.4 DataFrame의 행간 차이와 열간 차이 구하기

행간 차이 구하는 작업은 시계열 분석에서 자주 이용

**df.diff("행 간격 또는 열 간격", axis="방향")**

* 첫 번째 인수가 양수이면 이전 행과의 차이를, 음수면 다음 행과의 차이 구해
* axis=0이면 행의 방향, 1인 경우에는 열의 방향

In [13]:
np.random.seed(0)
columns=["apple","orange","banana","strawberry","kiwifruit"]

# DataFrame 생성
df = pd.DataFrame()
for column in columns:
  df[column]=np.random.choice(range(1,11),10)
df.index=range(1,11)

# df의 각 행에 대해 2행 뒤와의 차이 계산한 DataFrame
df_diff = df.diff(-2, axis=0)

print(df)
print(df_diff)

    apple  orange  banana  strawberry  kiwifruit
1       6       8       6           3         10
2       1       7      10           4         10
3       4       9       9           9          1
4       4       9      10           2          5
5       8       2       5           4          8
6      10       7       4           4          4
7       4       8       1           4          3
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1
    apple  orange  banana  strawberry  kiwifruit
1     2.0    -1.0    -3.0        -6.0        9.0
2    -3.0    -2.0     0.0         2.0        5.0
3    -4.0     7.0     4.0         5.0       -7.0
4    -6.0     2.0     6.0        -2.0        1.0
5     4.0    -6.0     4.0         0.0        5.0
6     4.0    -1.0     0.0        -4.0       -4.0
7     1.0    -1.0    -5.0         3.0        0.0
8     1.0     6.0     3.0         6.0        7.0
9     NaN     NaN     NaN         NaN        NaN
10    NaN     NaN     NaN         NaN        NaN

### 9.4.5 그룹화

그룹화 : 특정 열에서 동일한 값의 행을 집계하는 것

**df.groupby("컬럼")**으로 지정한 컬럼 그룹화 가능

* GroupBy 객체는 반환하지만 그룹화된 결과는 표시 x -> 표시하려면 통계함수 사용

In [15]:
# DataFrame 만들기
prefecture_df = pd.DataFrame([["강릉",1040,213527,"강원도"],
                              ["광주",430,1458915,"전라도"],
                              ["평창",1463,42218,"강원도"],
                              ["대전",539,1476955,"충청도"],
                              ["단양",780,29816,"충청도"]],
                             columns=["Prefecture","Area","Population","Region"])
print(prefecture_df)

grouped_region = prefecture_df.groupby("Region")
mean_df = grouped_region.mean()
print(mean_df)

  Prefecture  Area  Population Region
0         강릉  1040      213527    강원도
1         광주   430     1458915    전라도
2         평창  1463       42218    강원도
3         대전   539     1476955    충청도
4         단양   780       29816    충청도
          Area  Population
Region
강원도     1251.5    127872.5
전라도      430.0   1458915.0
충청도      659.5    753385.5



---

In [16]:
# 연습문제
df1 = pd.DataFrame([["apple","Fruit",120],
                    ["orange","Fruit",60],
                    ["banana","Fruit",100],
                    ["pumpkin","Vegetable",150],
                    ["potato","Vegetable",80]],
                   columns=["Name","Type","Price"])
df2 = pd.DataFrame([["onion","Vegetable",60],
                    ["carrot","Vegetable",50],
                    ["beans","Vegetable",100],
                    ["grape","Fruit",160],
                    ["kiwifruit","Fruit",80]],
                   columns=["Name","Type","Price"])

# df1과 df2를 세로로 결합
df3 = pd.concat([df1,df2],axis=0)

# 야채와 과일을 각각 추출하여 "Price"로 정렬
df_fruit = df3.loc[df3["Type"]=="Fruit"]
df_fruit = df_fruit.sort_values(by="Price")

df_veg = df3.loc[df3["Type"]=="Vegetable"]
df_veg = df_veg.sort_values(by="Price")

# 과일과 야채의 상위 세 요소의 Price 합 각각 계산
print(sum(df_fruit[:3]["Price"]) + sum(df_veg[:3]["Price"]))

430

In [17]:
# 종합문제

index = ["광수","민호","소희","태양","영희"]
columns = ["국어","수학","사회","과학","영어"]
data = [[30,45,12,45,87],[65,47,83,17,58],[64,63,86,57,46],[38,47,62,91,63],[65,36,85,94,36]]
df = pd.DataFrame(data, index=index, columns=columns)

# df에 "체육"이라는 새 열 만들고 pe_column의 데이터 추가
pe_column = pd.Series([56,43,73,82,62],index=["광수","민호","소희","태양","영희"])
df["체육"]=pe_column
print(df)

# 수학을 오름차순으로 정렬
df1 = df.sort_values(by="수학", ascending=True)
print(df1)

# df1의 각 요소에 5점 더하기
df2 = df1 + 5 
print(df2)

# df의 통계 정보 중에서 "mean","max","min" 출력
print(df2.describe().loc[["mean","max","min"]])

    국어  수학  사회  과학  영어  체육
광수  30  45  12  45  87  56
민호  65  47  83  17  58  43
소희  64  63  86  57  46  73
태양  38  47  62  91  63  82
영희  65  36  85  94  36  62
    국어  수학  사회  과학  영어  체육
영희  65  36  85  94  36  62
광수  30  45  12  45  87  56
민호  65  47  83  17  58  43
태양  38  47  62  91  63  82
소희  64  63  86  57  46  73
    국어  수학  사회  과학  영어  체육
영희  70  41  90  99  41  67
광수  35  50  17  50  92  61
민호  70  52  88  22  63  48
태양  43  52  67  96  68  87
소희  69  68  91  62  51  78
        국어    수학    사회    과학    영어    체육
mean  57.4  52.6  70.6  65.8  63.0  68.2
max   70.0  68.0  91.0  99.0  92.0  87.0
min   35.0  41.0  17.0  22.0  41.0  48.0